.jumbotron {
  background-color: #BCBCE2;
  color: black;
  margin-top: 10px;
  margin-bottom: 0;
  margin-block-end: 0px;
}

body {
  margin-block-end: 0px;
}

footer {
  margin-block-start: 0px;
  padding: 10px 10px 0 10px;
  background-color: #BCBCE2;
  color: black;
  margin-top: 20px;
  margin-bottom: 0px;
}

.card-ventas {
  flex: 1 200px;
  margin-top: 3px;
  border-color: blue;
}

.btn-verproducto {
  width: 100%;
  border-radius: 1;
}

.footer-addres-icon {
  padding-right: 8px;
  color: black;
}

.container-fluid {
  background-color: #BCBCE2;
  color: black;
}

.tab-content {
  padding-top: 5px;
}

/*# sourceMappingURL=styles.css.map */
