$purple: #BCBCE2;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}
.jumbotron{
    background-color: $purple;
    color: black;
    @include margenes(10px,0 );
   margin-block-end: 0px;
}
body{
    margin-block-end: 0px;
}
footer{
    margin-block-start: 0px;
    padding: 10px 10px 0 10px;
    background-color: $purple;
    color: black;
    @include margenes(20px,0px );
}
.card-ventas{
    flex: 1 200px;
    margin-top: 3px;
    border-color: blue
};
.btn-verproducto{
width: 100%;

border-radius: 1;
}
.footer-addres-icon{
  padding-right: 8px;
  color : black
}

.container-fluid{
    background-color: $purple;
    color: black;
}
.tab-content{
  padding-top: 5px;
}
